body {
  margin: 0;
  background-color: #0d0d0d;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.App {
  text-align: center;
  width: 100%;
  max-width: 1000px;
  padding-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  color: #ccc;
  margin-bottom: 20px;
}

.creator span {
  color: #00ffbb;
  font-weight: bold;
}

.clock {
  font-size: 12px;
  color: #ccc;
}

.main h1 {
  font-size: 60px;
  margin: 0;
  color: white;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

select {
  background-color: #1b1b1b;
  color: white;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 15px;
  outline: none;
}

button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 600;
  cursor: pointer;
}

.start {
  background-color: #00d89e;
  color: black;
}

.pause {
  background-color: #ffb84d;
  color: black;
}

.finish {
  background-color: #ff4d4d;
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
  margin-top: 20px;
}

.card {
  background-color: #1a1a1a;
  border-radius: 12px;
  width: 230px;
  height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  position: relative;
}

.card strong {
  font-size: 17px;
}

.remove {
  margin-left: 5px;
  color: #ff4d4d;
  cursor: pointer;
}

.time {
  font-size: 15px;
  margin-top: 5px;
}

.progress-bar {
  width: 100%;
  height: 6px;
  background-color: #333;
  border-radius: 5px;
  margin-top: 8px;
}

.progress {
  height: 100%;
  background-color: #00d89e;
  border-radius: 5px;
  transition: width 0.4s ease;
}

.add-card {
  background-color: #111;
  border: 1px dashed #333;
  justify-content: space-evenly;
}

.add-card input {
  background: none;
  border: none;
  color: #888;
  text-align: center;
  font-size: 14px;
}

.add-card button {
  background-color: #00d89e;
  color: black;
  padding: 6px 12px;
  border-radius: 8px;
}
